.partner-list{
    padding: 20px;
    background-color: #FFF;
    width: max-content;
    height: 100vh;
}
.partner-list:last-child{
    border-bottom: none;
}

.partner-item{
    padding-top: 16px;
    padding-bottom: 7px;
    border-bottom: 1px solid #f7765c;

}
.partner-item:hover{
    background-color: #bbbbbb;
    cursor: pointer;
}

.partner-item:focus{
    background-color: #bbbbbb;
}
.partner-item:last-child{
    border-bottom: none;
}

.partner-info{}